/* Standard CSS */
html {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  background-image: url("../img/bg.gif");
}

body {
  padding-top: 30px;
  padding-bottom: 40px;
}