.span12
  .well
    .offset3
      .row
          canvas#myCanvas(height="520", width="430")
          video#myVideo(autoplay="true", style="display:none;")
      .row
        button.btn#grabButton Grab

  .row#images