.span12
  .well
    .offset3
      .row
          //audio(src="http://coalition-for-the-li.nko3.jitsu.com/mp3/grandma.mp3", style="display:none;", autoplay="true")
          canvas#myCanvas(height="520", width="430")
          video#myVideo(height="520", width="430", autoplay="true", style="display:none;")
      .row
        button.btn#grabButton Grab

  .row#images